body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.titleHeader {
  color: #fc3c3c;
  font-size: 2rem;
}
.appDropdown {
  background-color: white;
}
.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
.appleft {
  flex: 0.8;
}
.appRight {
  display: flex;
  flex-direction: column;
}
.appHeader {
  margin-top: 40px;
  margin-bottom: 40px;
}
.slecteButton {
  width: 200px;
  color: black;
  outline: none;
  padding: 10px;
  box-shadow: none;
}
.appStats {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
