body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
.appleft {
  flex: 0.8;
}
.slecteButton {
  width: 200px;
  color: black;
  outline: none;
  padding: 10px;
  box-shadow: none;
}

.appStats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
