.table {
  margin-top: 20px;
  overflow-y: scroll;
  height: 400px;
  color: #6a5d5d;
}
.tableData {
  display: flex;
  justify-content: space-between;
}
.tableData {
  padding: 0.5rem;
}
.tableData:nth-of-type(odd) {
  background-color: #f3f2f8;
}
